{% extends "adminLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% set menu = 'CACHES' %}

{% block content %}

{{ macros.Title('Cachés') }}

{{ include('tabbedContentMenu.html.twig') }}

<div class="contenedorAdmin">
    <form method='post' action='{{ action_url }}'>


	<div class="dSeparatorNewLine">
		<div class='dText'>Procesar vistas de base de datos</div>
	</div>
	<div class='dBlockNewLineS2  dNoPaddingTop'>Geografías:</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="regenGeography" type="submit" value="Actualizar" id='updateGeography' onclick="disableButton('updateGeography');">
        {{ macros.ShowUpdateStatus(updateStatus, 'SNAPSHOT_CARTOGRAPHY') }}
        <div class="dExplanation">Procesar cuando se agrega una geografía. Incluye cachés.</div>
    </div>
	<div class='dBlockNewLineS2  dNoPaddingTop'>Regiones por geografías:</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="regenClippingGeography" type="submit" value="Actualizar" id='updateClippingGeography' onclick="disableButton('updateClippingGeography');">
        {{ macros.ShowUpdateStatus(updateStatus, 'SNAPSHOT_CARTOGRAPHY_REGION') }}
        <div class="dExplanation">Procesar cuando se agrega una relación entre geografía y cartografía. Incluye cachés.</div>
    </div>
	<div class='dBlockNewLineS2  dNoPaddingTop'>Delimitaciones y regiones:</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="regenClipping" type="submit" value="Actualizar" id='updateClipping' onclick="disableButton('updateClipping');">
        {{ macros.ShowUpdateStatus(updateStatus, 'SNAPSHOT_LOOKUP') }}
        <div class="dExplanation">Procesar cuando se agrega o actualiza una región de clipping o cambian los ítems de una delimitación. Incluye cachés.</div>
    </div>



	<div class="dSeparatorNewLine">
		<div class='dText'>Cachés y temporales</div>
	</div>

	<div class='dBlockNewLineS2  dNoPaddingTop'>Cachés de indicadores</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="cleanMetricSignatures" type="submit" value="Liberar"
							 id='cleanMetricSignatures' onclick="disableButton('cleanMetricSignatures');">
        <div class="dExplanation">Datos de tiledata, summary, selectedmetric, y números de revisión.</div>
    </div>

	<div class='dBlockNewLineS2  dNoPaddingTop'>Cachés de indicadores seleccionados</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="clearSelectedMetricsCache" type="submit" value="Liberar"
			   id='clearSelectedMetricsCache' onclick="disableButton('clearSelectedMetricsCache');">
        <div class="dExplanation">Datos de selectedmetric y fab.</div>
    </div>


	<div class='dBlockNewLineS2  dNoPaddingTop'>Cachés de delimitaciones y regiones</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="clearClippingsCache" type="submit" value="Liberar"
			   id='clearClippingsCache' onclick="disableButton('clearClippingsCache');">
        <div class="dExplanation">Datos de clippings y boundaries.</div>
    </div>

	<div class='dBlockNewLineS2  dNoPaddingTop'>Tablas tmp_work_dataset_* y huérfanas:</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="clearTempTables" type="submit" value="Liberar" id='clearTempTables' onclick="disableButton('clearTempTables');">
        <div class="dExplanation">Liberar tablas de trabajo de más de 1 semana.</div>
    </div>

		<div class='dBlockNewLineS2  dNoPaddingTop'>Tablas de matrices:</div>
	<div class='dBlockSize3'>
        <input class='dSmallerButton' name="clearMatrixTables" type="submit" value="Liberar" id='clearMatrixTables' onclick="disableButton('clearMatrixTables');">
        <div class="dExplanation">Liberar tablas de matrices de comparación.</div>
    </div>

	<div class="dSeparatorNewLine">
		<div class='dText'>Espacio utilizado</div>
	</div>

	<div>
		<small>
		{% if isMegaUser %}
			<input class='dSmallerButton' name="calculateSpace" type="submit" value="Actualizar" id='updateData' onclick="disableButton('updateData');">
			Fecha de información: {{ dateCache }}.
		</small>
		<div class='dSpace'></div>
	</div>
		{% endif %}
	<div style="clear:both">
			<div class='dSubCategory'>Caches</div>
			<div class='dBlockNewLineS2  dNoPaddingTop'>Espacio total:</div>
			<div class='dBlockSize3'>{{ caches_files_count }} inodes / {{ caches_size }} MB.</div>
			{% for cache in caches %}
				<div class='dBlockNewLineS2  dNoPaddingTop'>{{ cache.label }}:</div>
				<div class='dBlockSize3'>{{ cache.files_count }} inodes / {{ cache.size }} MB.</div>
			{% endfor %}
            <div style="clear:both"></div>
	</div>

</form>
</div>

{% endblock %}
