{% extends "frontendLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}

<script type="text/javascript">

	function validateForm() {
	if (!checkTextHasValue('from', 'una dirección de correo electrónico')) return false;
	if (!checkTextHasValue('message', 'un mensaje')) return false;
	return true;
	}
</script>

	{{ macros.InfoMapsTitle("Contacto") }}
	{% if showMessage != true %}
	<p>Sus comentarios, sugerencias y consultas son bienvenidos, ya que nos permiten mejorar el sitio y ayudar en el uso del mismo.
	</p>
	{{ macros.InfoMapsSubTitle("Mensaje") }}
	<form action='{{ maps_feedback_url_post }}' onsubmit="return validateForm();" method='post'>
		<div class='dNewLine'>

			<div class='dBlockNewLineS1'>Correo electrónico: </div><div class='dBlockSize3'><input type="text" class='fSize3' name='from' maxlength='256'>
				<span class='dExplanation'><br>Al indicarnos su dirección de correo electrónico podremos responder en forma personalizada a su comentario. <br>
					Ej. carlos@veli.edu<br>
				</span></div>
		</div>
		<div class='dBlockNewLineS1'>Mensaje<span class='asterisk'>*</span>:</div><div class='dBlockSize3'><textarea id='message' rows='8' name='message' cols='80'></textarea><br>&nbsp;
		</div>

		<div class='dBlockNewLineS3'><center><input type='submit' name='ok' value='Enviar'></center>
		</div>
		{{ include('asterisk.html.twig') }}
	</form>
	{% else %}
	<p>
	Su comentario ha sido recibido exitosamente.
	<br>
	<div class='dBlockNewLineS3'><center>
			<br>
			<input type='button' class="dButton" onclick="document.location='{{ home_url }}';" value='Continuar'>&nbsp;
		</center></div>
	</p>
	{% endif %}

{% endblock %}
