<div style='float: left;'>

	<div class="dSeparatorHome">Novedades</div>
	<div style='clear: both'>
		<div class='dCarrouselContainer' id='newsBox_container'><a name='news' id='news'></a>

			<div class='dCarrouselArrowPanel' id='newsBox_prev'>
				{% if news | length > (eventsBox | length > 0 ? 2 : 3) %}
				<a id='newsArrowPrev' href='' onclick='news_carrousel.movePrev(); return false;'><img
					class='dNewsArrow' src='/images/arrow-prev.png' border='0' alt="Anterior" title="Anterior"></a>
				{% endif %}&nbsp;
			</div>
			{% if news | length > 0 %}
			<div class='dCarrousel' id='newsBox_content'>
				<div class='dCarrouselClip' id='newsBox_clip'>
					{% for n in 0..4 %}
					<div class='dCarrouselBox dShadow' id='newsBox_{{ n }}'>
						<div class='dNewsImageContainer' id='newsBox_image_{{ n }}' style="background-image: url(''); background-position:center; background-repeat:no-repeat;">
						</div>
						<div class='dNewsTextContainer'>
							<div class='dNewsBoxTitle'>
								<a id='newsBox_title_{{ n }}' href=''></a>
							</div>
							<div id='newsBox_subTitle_{{ n }}' class='dNewsBoxSubtitle'>
							</div>
							<div class='dNewsAccess'>
								<a id='newsBox_more_{{ n }}' href=''>Ver más...</a>
							</div>
						</div>
						{% if isMegaUser %}
						<input id='newsBox_edit_{{ n }}' class='dButton dNewsButton  dSmallButton' type="button" value="Editar" onclick="">
						<input id='newsBox_delete_{{ n }}' class='dButton dNewsButton dSmallButton' type="button" value="Eliminar" onclick="" style='left: 45px'>
						<img id='newsBox_draft_{{ n }}' title='Borrador' alt='Borrador' class='ico' src="" style=''>
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			<div class='dCarrouselArrowPanel' id='newsBox_next'>
				{% if news | length > (eventsBox | length > 0 ? 2 : 3) %}
				<a href='' onclick='news_carrousel.moveNext(); return false;'><img
					class='dNewsArrow' src='/images/arrow-next.png' border='0' alt="Siguiente" title="Siguiente"></a>
				{% endif %}
			</div>

		</div>

		<script type="text/javascript">
// datos
var news_carrousel = new Carrousel();

news_carrousel.news = Array(
		{% for item in news %}
		Array('{{ item.fullName | e('js') }}',
			'{{ item.description | e('js') }}',
			'{{ item.picture_path | e('js') }}',
			'{{ item.effectiveUrl | e('js') }}'
			{% if isMegaUser %}
			,
			'{{ item.edit_url | e('js') }}',
			'{{ item.delete_url | e('js') }}',
			{{ item.isPublic ? 2 : 0 }}
			{% endif %}
			),
		{% endfor %}
		'');
news_carrousel.news_count = {{ news | length }};
news_carrousel.itemPreffix = 'news';
// constants
news_carrousel.c_positions = 5;
news_carrousel.c_container_width = {{ (eventsBox | length > 0 ? '603' : '892') }};

news_carrousel.c_box_width = 225;
news_carrousel.c_box_spacing = {{ (eventsBox | length > 0 ? '38' : '47') }};
news_carrousel.c_arrow_width = 35;
news_carrousel.c_left_margin = 1;
news_carrousel.start();
		</script>

		<div style='clear: both; height: 0px;'>&nbsp;</div>
		{% if isMegaUser %}
		<div><br>
			<input class='dSmallButton dButton' type="button" value="Crear nueva..." onclick="openPopup('{{ new_news_url }}');">
		</div>
		{% endif %}
	</div>
</div>
