{% extends "frontendLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}

	{{ macros.InfoMapsTitle('Privacidad de datos') }}

	</p><p>Las presentes declaraciones están destinadas a informar a los usuarios acerca del tratamiento de datos personales llevado adelante por <i>{{ application_name }}</i>, con el objeto de que libre y voluntariamente determinen la entrega o no de sus datos personales cuando les sean requeridos o, que se puedan obtener a partir de la utilización de alguno de los servicios disponibles en <i>{{ application_name }}</i>.
	</p><p><i>{{ application_name }}</i> considera que cualquier tipo de información relativa a un usuario es información de carácter personal, y por consiguiente vela en todo momento por la privacidad y confidencialidad de la misma. La confidencialidad de la información relativa a los usuarios implicará su mantenimiento en archivos y/o bancos o bases de datos seguros, de modo tal que el acceso por parte de terceros que no se encuentren autorizados a tal efecto, se encuentre restringido.
	</p><p>Para preguntas sobre esta Política o cualquier circunstancia relativa al tratamiento de información de carácter personal, los usuarios podrán contactarse a través de correo electrónico a: contacto@poblaciones.org.

	</p><p>{{ macros.InfoMapsSubTitle('1. Voluntariedad en la entrega de datos') }}


	</p><p>La presente Política está destinada a informar a los usuarios acerca del tratamiento de datos personales llevado adelante por <i>{{ application_name }}</i>, con el objeto de que libre y voluntariamente determinen la entrega o no de sus datos personales cuando les sean requeridos o que se puedan obtener a partir de la utilización de alguno de los servicios disponibles en “http://www.aacademica.org”.
	</p><p>Por regla general, cuando para utilizar un servicio o acceder a cierto contenido se solicite algún dato personal, la entrega del mismo no es obligatoria, con excepción de aquellos casos donde específicamente se indicara que es un dato requerido para la prestación del servicio o el acceso al contenido.

	</p><p>{{ macros.InfoMapsSubTitle('2. Autorización de uso de la información personal') }}


	</p><p>El usuario que facilitara sus datos personales, autoriza expresamente a <i>{{ application_name }}</i> para el uso de los datos aportados con los fines aquí expuestos. Implica ello además la aceptación de todos los términos contenidos en esta Política, y en los Términos y Condiciones Generales.

	</p><p>{{ macros.InfoMapsSubTitle('3. Recolección y uso de Información') }}


	</p><p>La finalidad de la recolección y tratamiento de datos de carácter personal es la prestación, gestión, administración, personalización, actualización y mejora de los de los servicios y contenidos puestos a disposición de los usuarios por parte de <i>{{ application_name }}</i>.

	</p><p>{{ macros.InfoMapsSubTitle('4. Intransferibilidad de los datos') }}


	</p><p>Todos los datos personales recolectados de los usuarios, son de uso exclusivamente interno. Toda vez que se recabe información personal como parte de la relación directa con un usuario, en respeto a la privacidad y confidencialidad de los usuarios, <i>{{ application_name }}</i> no cederá ni transferirá esa información personal a ningún tercero que no sea parte de <i>{{ application_name }}</i>.
	</p><p>Únicamente se compartirá con terceros la información personal de los usuarios, en los siguientes casos:

	</p><p>&bull; Cuando exista obligación legal de hacerlo.
	</p><p>
		&bull;	Cuando exista una orden emanada de un Tribunal de Justicia competente.

	</p><p>{{ macros.InfoMapsSubTitle('5. Comunicaciones del Sitio') }}


	</p><p>Ocasionalmente los datos podrán ser utilizados para el envío de comunicaciones a los usuarios, en lo referente a los productos y servicios brindados por <i>{{ application_name }}</i>.

	</p><p>{{ macros.InfoMapsSubTitle('6. Acceso a la información por parte de las personas vinculadas a los datos registrados') }}


	</p><p>El usuario podrá ejercitar los derechos de acceso, rectificación o cancelación de datos y oposición, que más adelante se mencionarán.
	</p><p>El ejercicio de dichos derechos podrá ser efectivizado por cada usuario mediante comunicación dirigida a <i>{{ application_name }}</i>, según la información de contacto aquí brindada.
	</p><p>Efectuado el ingreso de los datos por los usuarios, <i>{{ application_name }}</i>, procederá a la rectificación, supresión o actualización de los datos personales del afectado, cuando ello fuere procedente.
	</p><p>La supresión de algún/nos datos no procederá cuando pudiese causar perjuicios a derechos o intereses legítimos de terceros, o cuando existiera una obligación legal de conservar los datos.

	</p><p>
		<b>El derecho a exigir la rectificación de los datos:</b>
	</p><p>En principio, el derecho a exigir la rectificación puede ser ejercido ante la falsedad, inexactitud, imprecisión o carácter erróneo que tengan los datos. Su reconocimiento implica el de la preservación de la veracidad de la información, condición que hace a la calidad de la misma.

	</p><p>
		<b>El derecho a requerir la actualización de los datos:</b>
	</p><p>La actualización estriba en preservar la vigencia del dato, esto es, la correspondencia de la fracción de información que representa con el ámbito temporal en que es proporcionado

	</p><p>
		<b>Los derechos a la adición y disociación:</b>
	</p><p>Los usuarios podrán requerir que se adicionen informaciones a los datos registrados, cuando se consideren incompletos de modo tal que no reflejen las realidades que representan.
	</p><p>En similar sentido, también podrán exigir la disociación de datos cuyas calidades o características sólo permitan su tratamiento sin posibilidad de establecer asociaciones o vinculaciones con los titulares de los datos.

	</p><p>
		<b>
			Los derechos a la supresión y sometimiento a la confidencialidad:</b>
	</p><p>La "supresión" de un dato implica su eliminación definitiva del archivo o registro, esto es su completa desaparición, sin que puedan quedar constancias de su anterior registración.

	</p><p>{{ macros.InfoMapsSubTitle('7. Métodos de seguridad apropiados') }}

	</p><p><i>{{ application_name }}</i> adopta todas las medidas de seguridad lógica y física exigidas por las reglamentaciones, y las que resultan de la adecuada prudencia y diligencia en la protección de los usuarios que han depositado su confianza en <i>{{ application_name }}</i>, para proteger la información personal reunida contra el acceso no autorizado, alteración o destrucción. <i>{{ application_name }}</i> evalúa y mejora sus sistemas de seguridad toda vez que sea necesario.

	</p><p>{{ macros.InfoMapsSubTitle('8. Cambios a esta Política') }}


	</p><p>En caso de modificación de esta Política, se publicarán los cambios en esta sección. <i>{{ application_name }}</i> se reserva el derecho a modificar esta Política en cualquier momento, a cuyo efecto los usuarios deberán tomar conocimiento de la misma en forma regular.

	</p><p>{{ macros.InfoMapsSubTitle('9. Cierre de una cuenta') }}


	</p><p>En el caso que un usuario que decida cerrar su cuenta de <i>{{ application_name }}</i>, nuestra Política de Privacidad continuará vigente respecto ese usuario. Toda su información personal será eliminada de los sistemas de <i>{{ application_name }}</i>.

	</p>
	<div class="dSpace"></div>
	<p>Última actualización: marzo de 2018.
	</p>
	<div class="dSpace"></div>

{% endblock %}
