{% extends "frontendLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}

<script type="text/javascript">

	function validateForm() {
	if (!checkTextHasValue('title', 'un título')) return false;
	if (!checkTextHasValue('authors', 'autores')) return false;
	if (!checkTextHasValue('abstract', 'un resumen')) return false;
	if (!checkTextHasValue('coverage', 'una cobertura')) return false;
	if (!checkTextHasValue('from', 'una dirección de contacto')) return false;
	return true;
	}
</script>

    {{ macros.InfoMapsTitle("Subir un mapa") }}
	{% if showMessage != true %}
	<p>
		Para poder enviar información que pueda integrarse a Poblaciones debe enviar a través
		de esta formulario la información necesaria para iniciar el proceso de incorporación a la cartografía general.
	</p>

	{{ macros.subTitleSmaller("Geografía") }}
	<form action='{{ maps_send_url_post }}' onsubmit="return validateForm();" method='post'>

		<div class='dNewLine'>
			<div class='dBlockNewLineS1'>Título de la cartografía<span class='asterisk'>*</span>: </div>
			<div class='dBlockSize3'><input type="text" class='fSize3' name='title' maxlength='500'>
					<div class='dExplanation'>
						El título debe indicar el alcance temático, geográfico y temporal de la información aportada.
			</div>
		</div>

			<div class='dBlockNewLineS1'>
				Resumen<span class='asterisk'>*</span>:
			</div>
			<div class='dBlockSize3'>
				<textarea id='abstract' rows='4' name='abstract' cols='80'></textarea>
				<div class='dExplanation'>
					Sintetizar (máx. 500 palabras) la naturaleza de la cartografía propuesta, indicando características tales que el origen de la información, su cobertura, su nivel de desagregación, etc.
				</div>
			</div>

		{{ macros.subTitleSmaller("Autores") }}
		<div class='dNewLine'>
			<div class='dBlockNewLineS1'>
				Autores<span class='asterisk'>*</span>:
			</div>
			<div class='dBlockSize3'>
				<input type="text" class='fSize4' name='authors' maxlength='500'>
					<div class='dExplanation'>
						Indique los autores que han elaborado la cartografía.<br/>(ej. Alonso, Roberto y Robilli, Ana)
					</div>
				</div>

				<div class='dBlockNewLineS1'>
					Institución:
				</div>
				<div class='dBlockSize3'>
					<input type="text" class='fSize3' name='institution' maxlength='500'>
						<div class='dExplanation'>
							Institución en la cual fue elaborada la información.
						</div>
					</div>

		{{ macros.subTitleSmaller("Alcance y metodología") }}

		<div class='dBlockNewLineS1'>
			Metodología:
		</div>
		<div class='dBlockSize3'>
			<input type='file' name='methodology'>
			<div class='dExplanation'>
				Adjunte el documento (ej. PDF) o un archivo Zip con información metodológica que considere relevante respecto de la construcción u origen de la información o para su apropiado uso.
			</div>
		</div>

		<div class='dBlockNewLineS1'>
			Cobertura geográfica<span class='asterisk'>*</span>:
		</div>
		<div class='dBlockSize3'>
			<textarea id='coverage' rows='3' name='coverage' cols='50'></textarea>
			<div class='dExplanation'>
				Especifique la cobertura geográfica precisa de la información. <br/>(ej. Zonas urbanas de la Provincia de Buenos, Gran Salta, etc.).
			</div>
		</div>

		<div class='dBlockNewLineS1'>Fuente: </div><div class='dBlockSize3'>
		<input type="text" class='fSize3' name='source' maxlength='256'>
			<div class='dExplanation'>
				Indique la fuente de datos que permitió elaborar la cartografía que envía, especificándose el nombre completo de la misma y el año de edición utilizada.
			</div>
		</div>


			{{ macros.subTitleSmaller("Datos") }}

			<div class='dBlockNewLineS1'>
				Base de datos:
			</div>
			<div class='dBlockSize3'>
				<input type='file' name='db'>
					<div class='dExplanation'>
						<p>
							Adjunte la base de datos (ej. SPSS, CSV, SHP) o un archivo Zip con la información que considere relevante para representar la información.
						</p>
						<p>
						En caso de representarse Provincias, Departamentos o Radios de Censos Nacionales de la Argentina (1991, 2001, 2010) no es necesario que adjunte las cartografías de los mismmos (solamente especifique una columna con el código completo para cada fila).<br/>
						</p>
						<p>
							Si encontrara dificultades para enviar la información por este medio, recomendamos generar un link de envío directo (ej. utilizando <a href='http://dropbox.com' target='_blank'>Dropbox</a>, <a href='http://drive.google.com' target='_blank'>Google Drive</a> o <a href='http://wetransfer.com' target='_blank'>WeTransfer</a>) y
							pegue el link hacia el final de la información del casillero de 'Indicadores'.
						</p>
					</div>
				</div>

			<div class='dBlockNewLineS1'>
				Indicadores a visualizar:
			</div>
			<div class='dBlockSize3'>
				<textarea id='message' rows='6' name='metrics' cols='80'></textarea>
				<div class='dExplanation'>
					Indique la serie de indicadores que desea sea representada, especificando las columnas y modos de visualización que considera apropiados.
				</div>
			</div>


				{{ macros.subTitleSmaller("Contacto") }}

				<div class='dBlockNewLineS1'>Comentarios generales:</div>
					<div class='dBlockSize3'>
					<textarea id='message' rows='8' name='message' cols='80'></textarea>
				</div>

				<div class='dBlockNewLineS1'>Dirección de contacto<span class='asterisk'>*</span>: </div><div class='dBlockSize3'><input type="text" class='fSize25' name='from' maxlength='256'>
			<div class='dExplanation'>
				Indicar una dirección de correo electrónico para notificar del avance o realizar consultas sobre este envío. <br>
					Ej. carlos@veli.edu
			</div>
		</div>
		</div>
		<div class='dBlockNewLineS3'><center><input type='submit' name='ok' value='Enviar'></center>
		</div>
		{{ include('asterisk.html.twig') }}
	</form>
	{% else %}
	<p>
	Su cartografía ha sido recibida exitosamente.
	<br>
	<div class='dBlockNewLineS3'><center>
			<br>
			<input type='button' class="dButton" onclick="document.location='{{ home_url }}';" value='Continuar'>&nbsp;
		</center></div>
	</p>
	{% endif %}

{% endblock %}
