
<div style='margin-bottom: 0px; padding-top: 6px; padding-right: 4px; text-align: right'>
	<p>
		<input type='button' name='event' value='Inicio' class='dLightButton'  onclick="document.location='{{ home_maps_url }}';">
		<input type='button' name='event' value='Institucional' class='dLightButton'  onclick="document.location='{{ maps_info_url }}';">
		<input type='button' name='event' value='Ver Mapa' class="dLightButton"  onclick="window.open('{{ site_maps_url }}');">
		<input type='button' name='event' value='Contacto' class='dLightButton'  onclick="document.location='{{ maps_feedback_url }}';">
	</p>
	<p>
		<input type='button' name='event' value='Mis cartografías' class='dLightButton'  onclick="document.location='{{ maps_backoffice_url }}';">
	</p>
</div>
