{% extends "adminLayout.html.twig" %}
{% import "macros.html.twig" as macros %}
{% import "crudMacros.html.twig" as crudMacros %}

{% block content %}

    {% set menu = 'CONTACT' %}
    {{ macros.Title('Contacto') }}

    {{ include('tabbedContentMenu.html.twig') }}
    <div class="contenedorAdmin">
        {{ crudMacros.addValidateFormJs() }}

        {{ macros.subTitle('Contacto') }}
        <div class="dExplanation">
            La siguiente información de contacto será ofrecida para todas las obras públicas del sitio.
        </div>
        <form onsubmit="return validateFormJs();" action="/logs/contact?id={{ id }}" method="post">
            {{ crudMacros.ShowContact('', contact) }}
	    <div class='dBlockNewLineS3'><br></div>
	    {{ crudMacros.ShowButtonsRow() }}
            </form>
    </div>

{% endblock %}
