{% extends "adminLayout.html.twig" %}
{% import "macros.html.twig" as macros %}
{% import "crudMacros.html.twig" as crudMacros %}

{% set menu = 'INSTITUTIONS' %}

{% block content %}

{{ macros.Title('Instituciones') }}

{{ include('tabbedContentMenu.html.twig') }}
<div class="contenedorAdmin">

{{ crudMacros.addValidateFormJs() }}

     {% if institution.Name %}
        {{ macros.subTitle(institution.Name) }}
	 {% else %}
        {{ macros.subTitle('Nueva institución') }}
     {% endif %}
    <form onsubmit="return validateFormJs();" action="/logs/institutionsItem?id={{ id }}" method="post">
        {{ crudMacros.ShowInstitutionFields('', institution) }}
	<div class='dBlockNewLineS3'><br></div>
	{{ crudMacros.ShowButtonsRow() }}
        </form>
</div>

{% endblock %}
