{% extends "adminLayout.html.twig" %}
{% import "macros.html.twig" as macros %}
{% import "crudMacros.html.twig" as crudMacros %}

{% set menu = 'CATEGORIES' %}

{% block content %}

{{ macros.Title('Categorías') }}

{{ include('tabbedContentMenu.html.twig') }}
<div class="contenedorAdmin">
    {{ crudMacros.addValidateFormJs() }}

     {% if metricGroup.Name %}
        {{ macros.subTitle(metricGroup.Name) }}
	 {% else %}
        {{ macros.subTitle('Nueva Categoría') }}
     {% endif %}
    <form onsubmit="return validateFormJs();" action="/admin/categoriesItem?id={{ id }}" method="post">
    {{ crudMacros.ShowText('Nombre', 'Name', metricGroup.Name, 200, 'Indique el nombre de la categoría. Ej. Vivienda.', true) }}
    {{ crudMacros.ShowText('Ícono', 'Icon', metricGroup.Icon, 50, 'Imagen del listado de íconos de Material-Icons (ej. people).', false) }}
	  {{ crudMacros.ShowText('Orden', 'Order', metricGroup.Order, 5, 'Orden en que se muestra el item (ej. 1, 2, 3).', false) }}
		<div style="clear: both">
			<div class="dBlockNewLineS1">
				Visible
			</div>
			<div class="dBlockSize3">
				{{ crudMacros.yesNoRadioList('Visible', metricGroup.Visible) }}
			</div>
		</div>
		{{ crudMacros.ShowCombo('Subcategoría de', 'ParentId', groups, metricGroup.ParentId, '', false) }}

	<div class='dBlockNewLineS3'><br></div>
    {{ crudMacros.ShowButtonsRow() }}
        </form>
</div>

{% endblock %}
