{% extends "adminLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}

{% if type == 'P' %}
    {% set menu = 'PUBLICDATA' ~ (mode == 'D' ? 'DRAFT' : '') %}
{% else %}
    {% set menu = 'CARTOGRAPHIES' ~ (mode == 'D' ? 'DRAFT' : '') %}
{% endif  %}
{{ macros.Title(html_title) }}

{{ include('tabbedContentMenu.html.twig') }}
<div class="contenedorAdmin">

<script type="text/javascript">
    function deleteItem(url) {
        if (!confirm('Se procederá a eliminar el elemento seleccionado.\n\n¿Está seguro de que desea hacer esto?'))
            return false;
        document.location = url;
        return false;
    }
</script>
    <div style="padding-top: 20px;padding-bottom: 10px;">
    {% if mode == 'D' %}
			{% if type == 'P' %}
							<a href="{{ new_url }}">Nuevo borrador de datos públicos</a>
			{% else %}
							<a href="{{ new_url }}">Nuevo borrador de cartografía</a>
	    {% endif  %}
    {% endif  %}
    </div>
	<div class="dTableHeader">
		<div style='padding-top: 0px' class='dCellStartRowS3 dTableHeader'>Título</div>
		<div class='dCellSize05 Center dTableHeader'>Estado</div>
		<div class='dCellSize05 Center dTableHeader'>Usuarios</div>
		<div class='dCellSize05 Center dTableHeader'>Shard</div>
		<div class='dCellSize2b Center dTableHeader'>Acciones</div>
	</div>
	{% for work in works %}
	    <div class='dCellStartRowS3'><a href='{{ work.edit_url}}'>{{ work.title }}</a></div>
	    <div class='dCellSize05 Center'>{{ work.status }} {{ (work.draftCopyMissing ?
					' MISSING' : '') }}</div>
	    <div class='dCellSize05 Center'>{{ work.user }}</div>
	    <div class='dCellSize05 Center'>{{ work.shard }}</div>
	    <div class='dCellSize2b Center'><a href='{{ work.edit_url}}'>Editar</a>
					{% if work.draftCopyMissing %}
						<a href="#" onclick="return deleteItem('{{ work.delete_url}}');">Purgar</a>
					{% endif %}
	</div>
	{% else %}
        <div class='dBlockNewLineS1'>
        No hay información disponible.
        </div>
	{% endfor %}
	<div class='dBlockNewLineS3'><br></div>

	<div class='dText'>Total: {{ works | length }} {{ (type == 'P' ? 'datos públicos' :  'geografías') }}.</div>
	<div class='dBlockNewLineS3'></div>
</div>

{% endblock %}
