{% import "messages.html.twig" as styles %}
{{ include('header.html.twig') }}
<div {{ styles.sectionTitle }}>
	Instrucciones
</div>
<div {{ styles.sectionContent }}>
	<p {{ stylesP | raw }}>
	Para volver a acceder a su cuenta en Poblaciones deberá elegir una nueva contraseña.
	</p>
</div><div {{ styles.sectionContent }}>

	<p {{ stylesP | raw }}>
	Para hacerlo puede hacer click en Continuar o utilizar el código indicado a continuación:</p>
</div>
<div {{ styles.sectionToken }}>
	Código: <b>{{ token }}</b>
</div>
{{ styles.addButton(viewAction) }}

{{ include('footer.html.twig') }}
