	<div id='footer' class="dFooter">
		<span class="no-print" style='font-size: 10pt'>
			<a href='{{ home_maps_url }}' class='dSoftLink'>Inicio</a>&nbsp;&nbsp;|&nbsp;&nbsp;

			<a href='{{ maps_info_url }}' class='dSoftLink'>Institucional</a>&nbsp;&nbsp;|&nbsp;&nbsp;

			<a href='{{ terms_url }}' class='dSoftLink'>Términos</a>&nbsp;&nbsp;|&nbsp;&nbsp;

			<a href='{{ privacy_url }}' class='dSoftLink'>Privacidad</a>&nbsp;&nbsp;|&nbsp;&nbsp;

            <a href='{{ site_maps_url }}' class='dSoftLink'>Mapa</a>&nbsp;&nbsp;|&nbsp;&nbsp;

			<a href='{{ maps_feedback_url }}'>Contacto</a>
			<br>
		</span>
		<div style='height: 2px'></div>
		<span>@{{ "now"|date("Y") }}. Todos los derechos reservados. Contacto: <a class='dSoftLink' href='mailto:contacto@poblaciones.org'>contacto@poblaciones.org</a></span>
    </div>
